server:
  port: 8888
  tomcat:
    connection-timeout: 2s
    keep-alive-timeout: 15s
    threads:
      max: 50
      min-spare: 5

spring:
  application:
    name: config-service
  cloud:
    config:
      server:
        git:
          uri: https://github.com/synbat-d/config-repo.git
          default-label: main
          timeout: 5
          clone-on-start: true
          force-pull: true

management:
  endpoints:
    web:
      exposure:
        # Makes the health endpoint available over HTTP
        include: health
  endpoint:
    health:
      # Shows "UP" or "DOWN" (useful for debugging)
      show-details: always
  health:
    # Optional: Disables checks that aren't critical for startup
    # (e.g., if you don't want it to fail just because Git is slow)
    defaults:
      enabled: true
