apiVersion: apps/v1
kind: Deployment
metadata:
  name: config-service
  labels:
    app: config-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: config-service
  template:
    metadata:
      labels:
        app: config-service
    spec:
      containers:
      - name: config-service
        image: config-service
        imagePullPolicy: IfNotPresent
        ports:
          - containerPort: 8888
        env:
          - name: BPL_JVM_THREAD_COUNT
            value: "10"